@import "../../styleConfigs";

.home-page h2 {
  text-align: center;
  color: $contrast-color;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2.5rem;
}

.link-card {
  width: 100%;
  max-width: 400px;
  height: fit-content;
  display: flex;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #6a5acd;
  padding: 1.2rem;
  font-size: 1.5rem;
  color: #6a5acd;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.link-card:hover {
  -webkit-box-shadow: 10px 10px 98px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 98px -22px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 98px -22px rgba(0, 0, 0, 0.75);
}

.icon {
  font-size: 4rem;
  margin-right: 1.5rem;
}

.converter-icon {
  color: $converter-icon-color;
}

.termometer-icon {
  color: $termometer-icon-color;
}