@import "../../../styleConfigs";

.weight-form {
  display: flex;
  flex-direction: column;

  & > input {
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 30px;
    font-size: 1.1rem;
    outline: none;
    font-family: $main-font;

    &:first-child {
      border: 1px solid $layout-color;
      color: $layout-color;
      transition: all 0.3s ease-in-out;

      &::placeholder {
        color: $layout-color;
      }
    }

    &:last-child {
      background-color: $layout-color;
      color: $light-color;

      &::placeholder {
        color: $light-color;
      }
    }
  }
}
