@import "../../styleConfigs";

nav {
  background-color: $layout-color;
  font-size: 1.2rem;

  .logo-1 {
    color: $contrast-color;
  }
  .logo-2 {
    color: $light-color;
  }

  .logo:hover {
    .logo-1 {
      color: $light-color;
    }
    .logo-2 {
      color: $contrast-color;
    }
  }

  .menu-icon {
    color: $light-color;
    font-size: 1.3rem;
  }

  .selected {
    color: $contrast-color;
  }

  .links {
    color: $light-color;
  }

  // Dark Mode Button
  .label {
    background-color: #111;
    height: 20px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 7px;
    position: relative;

    .moon-icon {
      color: #f1c40f;
    }

    .sun-icon {
      color: #f39c12;
    }

    .ball {
      position: absolute;
      background-color: #fff;
      height: 26px;
      width: 26px;
      border-radius: 50%;
      top: 4px;
      left: 7px;
      cursor: pointer;
      transition: transform 0.2s linear;
    }
  }
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
}

@media screen and (max-width: 768px) {
  .mobile-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-icon-container {
      cursor: pointer;
    }
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      margin-bottom: 0.8rem;
    }
  }

  .nav-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-container {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;

    .menu-icon-container {
      display: none;
    }

    .nav-menu {
      display: flex;
      justify-content: space-around;
    }
  }
}
