@import "../../../styleConfigs";

form {
  margin-top: 1.5rem;

  .select-container {
    display: flex;
    justify-content: space-between;

    & > select {
      width: 150px;
      padding: 0.5rem;
      border: 1px solid $layout-color;
      border-radius: 5px;
      color: $layout-color;
      font-size: 1.1rem;
      font-family: $main-font;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }

  .btns-container {
    margin: 2.5rem 0 1rem 0;
    display: flex;
    justify-content: space-between;

    & > * {
      width: 100px;
      padding: 0.5rem;
      font-size: 1.1rem;
      font-family: $main-font;
      cursor: pointer;

      &:first-child {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid $layout-color;
        background-color: transparent;
        color: $layout-color;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
        outline: none;

        &:hover,
        &:focus {
          background-color: $layout-color;
          color: $light-color;
        }
      }
    }

    input[type="reset"] {
      background-color: $layout-color;
      color: $light-color;
      border: none;
      outline: none;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $contrast-color;
        background-color: darken($layout-color, 20%);
      }
    }
  }
}
