@import "../../styleConfigs";

footer {
  background-color: $layout-color;
  color: $light-color;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  text-align: center;

  a {
    color: $light-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;

    &:first-child {
      margin-bottom: 1rem;
    }

    & > * {
      margin-right: 0.5rem;
    }

    &:hover {
      color: $contrast-color;
    }
  }
}
