@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap");

$main-font: "Sansita Swashed", cursive;

$layout-color: #6a5acd;
$contrast-color: #66d9ff;
$light-color: #fff;
$dark-color: #000;
$termometer-icon-color: #e60000;
$converter-icon-color: #339933;
$weight-icon-color: #0052cc;
$dark-mode-gray: #cfcfcf;
